@import "../node_modules/skeleton-scss/scss/skeleton";
@import "./scss/variables";
@import "./scss/mixins";
@import "./components/navigation/navigation";

$color-nano: #141414;

body
{
    background: $color-nano;
    color: white;
    font-family: sans-serif;
}